.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 100%;

  @include mobile {
    max-width: 480px;
  }

  @include tablet {
    max-width: 768px;
    padding: 0;
  }

  @include desktop {
    max-width: 1200px;
    padding: 0 15px;
  }
}
.section {
  margin: 0 auto;
  padding: 3.125rem 0;

  @include tablet {
      padding: 6.25rem 0;
  }

  @include desktop {
      padding: 9.375rem 0;
  }

  &--price { 
    padding: 1.875rem 0;
  }
}