.media { 
    position: relative;
}


.experience__badge { 
    position: absolute;
    left: -5%;
    bottom: -5%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: .3125rem;
    align-items: center;
    justify-content: center;
    border-radius: 50% 50% .625rem .625rem;
    background-color: var(--accentColor);
    height: 9rem;
    width: 8rem;
    color: var(--secondaryTitleColor);
    & strong { 
        font-size: 2.8125rem;
    }
     & span { 
        font-size: 1rem;
        text-align: center;
    }

}

.rounded-image {
  border-radius: 50% 50% .625rem .625rem;
  overflow: hidden;
  aspect-ratio: 1 / 1.1;
  width: 18.75rem;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}


