:root {
    --titleColor: #0F0F0F;
    --secondaryTitleColor: #FFFFFF;
    --textColor: #242424;
    --accentColor: #FA0909;
    // --iconColor: #AFB1B8;
    --backgroundColor: #111319;
    --background-transparent: #222222e7;
    --gap: 30px;
    --gap-card: .625rem;
    --transition: cubic-bezier(0.4, 0, 0.2, 1);
    --duration: 250ms; 
}