.site-footer {
  background-color: var(--backgroundColor);
  color: var(--secondaryTitleColor);
  padding: 3.125rem 0rem;
}

.footer__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1.875rem;
}

.footer__top-wrap {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  justify-content: space-between;

  @include tablet {
    width: 100%;
    flex-direction: row;
  }
}
.footer__branding {
  // width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.footer__logo {
  width: 13.75rem;

  @include tablet {
    width: 18.75rem;
  }

  @include desktop {
    width: 21.875rem;
  }
}
.footer__description {
  max-width: 31.25rem;
}

.footer__center-wrap {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  @include tablet {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
}
.footer__nav {
  @include tablet {
    width: 50%;
    margin-top: 2.5rem;
  }
}
.footer__nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
}

.footer__nav-list li {
  flex-basis: calc(50% - 0.625rem);
}
.footer__certifications {
  width: 100%;

  @include tablet {
    width: 50%;
  }
}

.footer__bottom-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-direction: column;

  @include tablet {
    flex-direction: row;
  }
}

.footer__cta {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;

  @include tablet {
    width: 80%;
  }
}

.footer__legal {
  text-align: center;
  margin: 0 auto;
}

.footer__legal a {
  opacity: 0.5;
}
